{% extends "base.html" %}
{% block page_content %}

<div class="row mb-2">
    {% for recentpost in categories_latests %}
    
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
  
            <strong class="d-inline-block mb-2 text-success">
                {% for category in recentpost.categories.all %}
                    {{ category.name }}
                {% endfor %}
            </strong>
  
            <h3 class="mb-0">{{ recentpost.title }}</h3>
  
            <!--<div class="mb-1 text-muted">{{ recentpost.created_on.date }}</div>-->
            <p class="card-text mb-auto">{{ recentpost.body | slice:":250" }}...</p>
            <a href="{% url 'blog_detail' recentpost.pk%}" class="stretched-link"></a>
          </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}